# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\lesli\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [10]:
# Read your api key environment variable
# Load .env enviroment variables
load_dotenv(dotenv_path="C:/Users/lesli/Jupyter-Workspace/05-APIs Class 2 (18 June)/.env")
api_key = os.getenv("NEWS_API_KEY")

In [11]:
from newsapi import NewsApiClient

In [12]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [38]:
# Fetch the Bitcoin news articles
Bitcoin_headlines = newsapi.get_everything(q="Bitcoin", language="en", sort_by="relevancy")

Bitcoin_headlines["articles"][1]

{'source': {'id': 'reuters', 'name': 'Reuters'},
 'author': None,
 'title': 'Bitcoin drops 1.6% to below $20000 - Reuters',
 'description': 'Bitcoin was off 1.63% at $19,920 by late afternoon in Europe on Saturday, down $330 from its previous close.',
 'url': 'https://www.reuters.com/markets/us/bitcoin-drops-16-below-20000-2022-08-27/',
 'urlToImage': 'https://www.reuters.com/resizer/AjlubzI3WawXrIpEPQYO0MzwlPY=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/W4IF6T6QZFNZLAUT4ZH3FGXT6Y.jpg',
 'publishedAt': '2022-08-27T16:04:00Z',
 'content': "Aug 27 (Reuters) - Bitcoin was off 1.63% at $19,920 by late afternoon in Europe on Saturday, down $330 from its previous close.\r\nBitcoin, the world's biggest and best-known cryptocurrency, is down 58… [+336 chars]"}

In [39]:
# Fetch the Ethereum news articles
Ethereum_headlines = newsapi.get_everything(q="Ethereum", language="en", sort_by="relevancy")

Ethereum_headlines["articles"][1]

{'source': {'id': 'engadget', 'name': 'Engadget'},
 'author': 'Igor Bonifacic',
 'title': 'LG brings NFTs to its LED and OLED TVs',
 'description': 'Over its long history, LG has never been shy about jumping on some unusual bandwagons. So it should come as no surprise that the South Korean electronics giant is getting into NFTs. Starting today, if you live in the US and own a webOS 5.0 or later TV, you’ll…',
 'url': 'https://www.engadget.com/lg-art-lab-announced-010033972.html',
 'urlToImage': 'https://s.yimg.com/os/creatr-uploaded-images/2022-09/b6ec9f60-2ca5-11ed-bf1f-f902f66b3e02',
 'publishedAt': '2022-09-05T01:00:33Z',
 'content': 'Over its long history, LG has never been shy about jumping on some unusual bandwagons. So it should come as no surprise that the South Korean electronics giant is getting into NFTs. Starting today, i… [+1485 chars]'}

In [42]:
# Create the Bitcoin sentiment scores DataFrame
Bitcoin_sentiments = []

for article in Bitcoin_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        Bitcoin_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
Bitcoin_df = pd.DataFrame(Bitcoin_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
Bitcoin_df = Bitcoin_df[cols]

Bitcoin_df.head()

,date,text,compound,positive,negative,neutral
0,2022-08-18,Cryptocurrencies are often criticized for bein...,-0.5584,0.068,0.17,0.763
1,2022-08-27,Aug 27 (Reuters) - Bitcoin was off 1.63% at $1...,0.0000,0.000,0.00,1.000
2,2022-08-19,"SINGAPORE, Aug 19 (Reuters) - Cryptocurrencies...",-0.6580,0.000,0.18,0.820
3,2022-09-07,"CONCHAGUA, El Salvador, Sept 7 (Reuters) - A y...",0.1280,0.048,0.00,0.952
4,2022-08-30,Posted \r\nFrom bitcoins big slide back toward...,0.0000,0.000,0.00,1.000

In [43]:
# Create the Ethereum sentiment scores DataFrame
Ethereum_sentiments = []

for article in Ethereum_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        Ethereum_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
Ethereum_df = pd.DataFrame(Ethereum_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
Ethereum_df = Ethereum_df[cols]

Ethereum_df.head()

,date,text,compound,positive,negative,neutral
0,2022-08-18,Cryptocurrencies are often criticized for bein...,-0.5584,0.068,0.170,0.763
1,2022-09-05,"Over its long history, LG has never been shy a...",0.1630,0.096,0.055,0.849
2,2022-09-12,"LONDON, Sept 12 (Reuters) - A long-awaited sof...",0.3182,0.128,0.061,0.812
3,2022-08-24,"On 15 September, the ethereum blockchain is pl...",0.0000,0.000,0.000,1.000
4,2022-08-29,"Ethereum, the second largest cryptocurrency, w...",-0.2960,0.000,0.064,0.936

In [44]:
# Describe the Bitcoin Sentiment
Bitcoin_df.describe()

         compound    positive    negative     neutral
count  100.000000  100.000000  100.000000  100.000000
mean     0.037275    0.061840    0.054490    0.883660
std      0.410782    0.065733    0.060913    0.087454
min     -0.778300    0.000000    0.000000    0.571000
25%     -0.296000    0.000000    0.000000    0.830750
50%      0.000000    0.056000    0.042500    0.880500
75%      0.318200    0.088750    0.089500    0.951000
max      0.872000    0.362000    0.202000    1.000000

In [45]:
# Describe the Ethereum Sentiment
Ethereum_df.describe()

         compound    positive    negative     neutral
count  100.000000  100.000000  100.000000  100.000000
mean     0.125589    0.063800    0.038620    0.897640
std      0.421104    0.064824    0.063239    0.083033
min     -0.875000    0.000000    0.000000    0.733000
25%      0.000000    0.000000    0.000000    0.838250
50%      0.051500    0.059000    0.000000    0.906000
75%      0.467575    0.115750    0.064250    1.000000
max      0.840200    0.244000    0.250000    1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [64]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [65]:
# Instantiate the lemmatizer

lemmatizer = WordNetLemmatizer() 

# Create a list of stopwords
sw = set(stopwords.words('english'))
# Expand the default stopwords list if necessary
sw_addon = {'said', 'mln', 'kilolitres','kl'}
sw = sw.union(sw_addon)

In [77]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    sw = set(stopwords.words('english'))
    # Remove the punctuation from text
    text = str.translate((str.maketrans('', '', string.punctuation))
    # Lemmatize words into root words
    lem = [lemmatizer.lemmatize(word) for word in words]
    # Convert the words to lowercase
    output = [word.lower() for word in lem if word.lower() not in sw]
     # Remove the stop words
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', article)
    # Create a tokenized list of the words 
    words = word_tokenize()    
    
    return tokens

SyntaxError: invalid syntax (3503124712.py, line 8)

In [ ]:
# Create a new tokens column for Bitcoin
Bitcoin_tokens = tokenizer(Bitcoin)

In [ ]:
# Create a new tokens column for Ethereum
Ethereum_tokens = tokenizer(Ethereum)

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [ ]:
from collections import Counter
from nltk import ngrams

In [ ]:
# Generate the Bitcoin N-grams where N=2
bigram_counts = Counter(ngrams(processed, n=2))
print(dict(bigram_counts))

In [ ]:
# Generate the Ethereum N-grams where N=2
bigram_counts = Counter(ngrams(processed, n=2))
print(dict(bigram_counts))

In [ ]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [ ]:
# Use token_count to get the top 10 words for Bitcoin
print(dict(bigram_counts.most_common(10)))

In [ ]:
# Use token_count to get the top 10 words for Ethereum
print(dict(bigram_counts.most_common(10)))

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
wc = WordCloud().generate(input_text)
plt.imshow(wc)

In [ ]:
# Generate the Ethereum word cloud
wc = WordCloud().generate(input_text)
plt.imshow(wc)

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Download the language model for SpaCy
!python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [ ]:
# Concatenate all of the Bitcoin text together
articles = reuters.raw(categories='Bitcoin')

In [ ]:
# Run the NER processor on all of the text
doc = nlp(articles) 
# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
wc = WordCloud().generate(' '.join(entities))
plt.imshow(wc)

In [ ]:
# List all Entities
entities = [ent.text for ent in doc.ents if ent.label_ in ['GPE', 'ORG']]

---

### Ethereum NER

In [ ]:
# Concatenate all of the Ethereum text together
articles = reuters.raw(categories='Ethereum')

In [ ]:
# Run the NER processor on all of the text
doc = nlp(articles) 

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
wc = WordCloud().generate(' '.join(entities))
plt.imshow(wc)

In [ ]:
# List all Entities
entities = [ent.text for ent in doc.ents if ent.label_ ['GPE', 'ORG']]

---